.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #b9b7d8;
  }
  
  .input-fields {
    margin-bottom: 10px;
  }
  
  input {
    width: 95%;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    flex: 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: 5px;
    background-color: #f2f2f2;
  }
  
  .result {
    text-align: center;
    font-size: 1.2em;
    color: #333;
  }